/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
		background-color: #fff;
		color: #333;
		line-height: 1.5;
	}
	
	.container h1 {
		letter-spacing: -0.046875em;
		font-size: 5em;
		font-weight: bold;
		line-height: 1;
		color: #770037;
		margin: 12.5% 0 0 0;
	}
	
	.container h2 {
		font-size: 2.2em;
		font-weight: bold;
		margin: 3.1% 0 0 0;
		line-height: 1.2em;
	}
	
	.container p {
		font-size: 1.5em;
		line-height: 1.4em;
		margin: 3.1% 0 0 0;
	}
	
	.footer {
		display: block;
		margin: 4em 0;
		padding: .5em 0;
		border-top: 1px solid #999;
		font-size: .75em;
		color: #999;
	}
	
	a, a:visited {
		font-weight: bold;
		color: #770037;
		text-decoration: none;
	}
	
	a:hover {
		color: #f44e71;
		text-decoration: underline;
	}
	
	a:active {
		color: red;
		text-decoration: underline;
	}
	
	/* SOCIAL NAV */
	
	.mini-container {
		height:2em;
		display: block;
		margin-top: 1em;
	}
	
	#social li {
		float: left;
		margin-right: 0.33em;
		list-style-type: none;
		font-size: 1.6em;
	}
	
	#social li a, #social li a:visited {
		color: rgba(119, 0, 55, .75);
	}
	
	#social li a:hover, #social li a:focus {
		color: #f44e71;
		text-decoration: none;
	}
	#social li a:active {
		text-decoration: none;
	}
	

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	.container h1 {
		font-size:xx-large;
		line-height: 1;
		margin-bottom: 1%;
	}
	
	.container h2 {
		font-size:x-large;
		line-height: 1;
		margin-bottom: 1%;
	}

	.container h3 {
		font-size:large;
		font-weight: bold;
		line-height: 1.25;
		margin-bottom: 1%;
	}


	.container p {
		font-size:large;
		margin-bottom: 5%;
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}